.input-range {
  display: flex;
  flex-direction: column;

  label {
    color: var(--color-neutral-5);
    margin-bottom: 1.4rem;
  }

  input {
    margin-bottom: .4rem;
  }

  .min-max {
    display: flex;
    justify-content: space-between;
  }
}