.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: none;
  outline: none;
  border-radius: 90px;
  cursor: pointer;

  &--primary {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-8);
  }

  &--secondary {
    background-color: inherit;
    color: var(--color-neutral-2);
    border: 2px solid var(--color-neutral-5);
  }

  &--sm {
    padding: .8rem 1.2rem;
  }

  &--md {
    padding: 1.2rem 1.6rem;
  }

  &--lg {
    padding: 1.6rem 0;
  }
}