@use '../assets/sass/mixins';

.auction {
  display: grid;
  grid-template-columns: [col-start] repeat(6, 1fr) [col-center] repeat(6, 1fr) [col-end];
  grid-column-gap: 3.2rem;
  grid-row-gap: 3.2rem;
  padding: 13.6rem 0;
  @include mixins.container;

  @media screen and (max-width: 1200px) {
    grid-template-columns: [col-start] repeat(4, 1fr) [col-center] repeat(4, 1fr) [col-end];
    padding: 11.2rem 0;
  }
}

.image-wrapper {
  width: 100%;
  height: 80rem;
  grid-column: 1 / span 7;
  border-radius: 16px;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    grid-column: 1 / span 5;
  }

  @media screen and (max-width: 900px) {
    grid-row: 1 / 2;
    grid-column: col-start / col-end;
    height: 70rem;
  }

  @media screen and (max-width: 600px) {
    grid-row: 1 / 2;
    grid-column: col-start / col-end;
    height: 50rem;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  grid-column: 8 / -1;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media screen and (max-width: 1200px) {
    grid-column: 6 / -1;
  }

  @media screen and (max-width: 900px) {
    grid-row: 2 / 3;
    grid-column: col-start / col-end;
  }
}

.description {
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (max-width: 900px) {
    text-align: center;
  }
}

.creators {
  display: flex;
  gap: 6.5rem;

  @media screen and (max-width: 900px) {
    text-align: start;
    justify-content: center;
  }
}

.creator {
  display: grid;
  grid-column-gap: .8rem;

  .creator-avatar {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
    display: inline-block;
    width: 4rem;
  }

  .creator-label {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .creator-name {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

.card {
  border: 2px solid var(--color-neutral-6);
  border-radius: 2.4rem;
  box-shadow: var(--shadow-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 3.2rem 0;
}

.card-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-dollars {
  color: var(--color-neutral-4);
}

.auction-countdown {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.auction-countdown-title {
  text-align: center;
}

.auction-time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
}

.time-label {
  color: var(--color-neutral-4);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.arrows {
  display: flex;
  gap: 2rem;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.arrow-right-box {
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--color-neutral-6);
  border-radius: 50%;
}