@mixin border-green {
  padding: .8rem;
  border: 2px solid var(--color-primary-4);
  color: var(--color-primary-4);
  border-radius: 4px;
}

@mixin container {
  max-width: 112rem;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    max-width: 86.4rem;
  }
}