:root {
  // PRIMARY COLORS
  --color-primary-1: #3772FF;
  --color-primary-1-variant: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772FF;
  --color-primary-2: #9757D7;
  --color-primary-3: #EF466F;
  --color-primary-4: #45B36B;


  // SECONDARY COLORS
  --color-secondary-1: #4BC9F0;
  --color-secondary-2: #E4D7CF;
  --color-secondary-3: #FFD166;
  --color-secondary-4: #CDB4DB;


  // NEUTRAL COLORS
  --color-neutral-1: #141416;
  --color-neutral-2: #23262F;
  --color-neutral-3: #353945;
  --color-neutral-4: #777E91;
  --color-neutral-5: #B1B5C4;
  --color-neutral-6: #E6E8EC;
  --color-neutral-7: #F4F5F6;
  --color-neutral-8: #FCFCFD;


  // SHADOWS
  --shadow-1: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  --shadow-2: 0px 24px 24px -16px rgba(15, 15, 15, 0.2);
  --shadow-3: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
  --shadow-4: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  --shadow-5: 0px 16px 64px -48px rgba(31, 47, 70, 0.4);


  // FONTS
  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}